<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Danh sách Bua Sang </title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bs.css}">
</head>
<body>
<h1>Danh sách Bua Sang </h1>
<a href="/bs/new">Thêm Bua Sang</a>
<table border="1">
    <tr>
<!--        <th>ID</th>-->
        <th>Mã</th>
        <th>Tên</th>
        <th>Số lượng</th>
        <th>Hình ảnh</th>
        <th>Gia</th>
        <th>Hành động</th>
    </tr>
    <tr th:each="bs : ${listBuaSang}">
<!--        <td th:text="${bs.id}"></td>-->
        <td th:text="${bs.ma}"></td>
        <td th:text="${bs.ten}"></td>
        <td th:text="${bs.soLuong}"></td>
        <td>
            <img th:src="@{${'/' + bs.anh}}" alt="bua sang" width="100">
        </td>
        <td th:text="${bs.gia}"></td>

        <td>
            <a th:href="@{/bs/edit/{id}(id=${bs.id})}">Sửa</a>
            <a th:href="@{/bs/delete/{id}(id=${bs.id})}">Xóa</a>
        </td>
    </tr>
</table>
</body>
</html>
